<div class="col-8 mx-auto mt-15p">
  Bij het afstuderen van de PXL moet de junior-collega kunnen verdedigen dat hij/zij over de X-factor beschikt.
  De x-factor is een systeem van de Hogeschool PXL waarmee bewezen wordt dat het individu beschikt over empassie, een combinatie tussen empathie en passie, dat het individu ondernemend en innovatief is, dat het individu onderneemt in internationale samen(net)werkt, en dat het individu disciplinair en multidisciplinair is.
  Op deze website toon ik, Ilyas Mercan, als laatstejaarsstudent van de Hogeschool PXL al de activiteiten die ik van 1 januari 2019 tot en met 1 maart 2020 heb verricht.
</div>
