<div class="container" *ngIf="event">
  <div class="row">
    <h1 class="pxl-font offset-1 col-10">{{event.name}}</h1>

    <div class="offset-1 col-10 mb-3">
      <h5 class="pxl-font">Een initiatief van {{event.organizer}}</h5>
      <span *ngFor="let date of event.dates; let i = index">{{("0" + date.getDate()).slice(-2) + '-' + ("0" + (date.getMonth() + 1)).slice(-2) + '-' + date.getFullYear()}}<span *ngIf="i !== event.dates.length-1">, </span></span>
      <br>
      <span>Effectieve uren: {{event.receivedHours}}</span>
    </div>

    <div class="offset-1 col-10" [innerHTML]="event.report | newLine"></div>

    <div class="offset-1 col-10 mb-3" *ngIf="event.picture">
      <img class="img-fluid offset-1 col-10" src="{{event.picture.url}}" alt="{{event.picture.url.toString()}}"/>
      <p class="offset-1 col-10">Credit @ {{event.picture.credit}}</p>
    </div>

  </div>
</div>


